/* Write your CSS here */
.app-container {
  display: flex;
  font-family: 'Roboto';
  background-color: #161625;
  background-size: cover;
}

.cowin-dashboard-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.logo-heading-container {
  display: flex;
  flex-direction: row;
}

.logo-img {
  height: 50px;
}

.heading {
  font-size: 25px;
  color: #2cc6c6;
  margin-left: 10px;
}

.sub-heading {
  font-size: 30px;
  color: #cbd5e1;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-view-img {
  height: 50%;
}

.failure-heading {
  font-size: 30px;
  color: #ffffff;
}
